  
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MVVM</title>
</head>
<body>

<div id="mvvm-app">
    <input type="text" v-model="someStr">
    <input type="text" v-model="child.someStr">
    <!-- <p v-class="className" class="abc">
        {{someStr}}
        <span v-text="child.someStr"></span>
    </p> -->
    <p>{{ getHelloWord }}</p>
    <!-- <p v-html="htmlStr"></p>
    <button v-on:click="clickBtn">change model</button> -->
    <p>我的学校{{school}}</p>
</div>

<script src="ObserveDemo.js"></script>
<script src="WatchDemo.js"></script>
<script src="MvvmDemo.js"></script>
<script src="compileDemo.js"></script>
<script>
    debugger;
    var vm = new MVVM({
        el: '#mvvm-app',
        data: {
            someStr: 'hello ',
            className: 'btn',
            htmlStr: '<span style="color: #f00;">red</span>',
            child: {
                someStr: 'World !'
            },
            school:'运城学院'
        },

        computed: {
            getHelloWord: function() {
                return this.someStr + this.child.someStr;
            }
        },

        methods: {
            clickBtn: function(e) {
                var randomStrArr = ['childOne', 'childTwo', 'childThree'];
                this.child.someStr = randomStrArr[parseInt(Math.random() * 3)];
            }
        }
    });

    vm.$watch('child.someStr', function() {
        console.log(arguments);
        this.school = '触发了箭筒事件';
        console.log('触发了监听事件');
    });
</script>

</body>
</html>