div {
  width: 200px;
  height: 200px;
  border: 1px solid red;
}
.one {
  background: url('../img/0.jpg') no-repeat;
}
.two {
  background: url('../img/1.jpg') no-repeat;
}
.three {
  background: url('../img/2.jpg') no-repeat;
}
.paragram {
  color: deeppink;
}
.paragram,
.other {
  background: green;
}
