<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>http://jspang.com/wp-admin/post.php?post=2760&action=edit#
</head>
<body>
    <h1><%= title %></h1>
    <p>EJS Welcome to <%= title %></p>
    <img src="/imgs/a.jpg" alt="">
    <img src="/b.jpg" alt="">
    <div>
        <button id="btn">显示</button>
    </div>
</body>
<script src="/js/index.js"></script>
</html>